{% extends "blog/base.html" %}
{% block content %}
    <h1 class="font-weight-normal">About Over 'n' Out</h1>
    <h3 class="font-weight-light">Hey Guys !!<br>
      My name is <a href="https://frazermitt.github.io/index.html" target="_blank">EUHID AMAN</a>, and I am the CREATOR of this website !!!<br><br>
      <p class=" lead">
      Well, I created this website to let the students share their INTERESTING CONTENT .<br>
      So, You can share whatever you want, There are NO RESTRICTIONS here !!<br>
      You can share your stories, your poems, your jokes .<br>
      You can also use this platform to promote your products and, to discuss your new ideas.<br>
      There is just NO LIMIT !!!!
      </p>

      <h2 class="font-weight-light">
        This is a website, "For The Students, By a Student !!!"
      </h2>

    </h3>
{% endblock content %}
